echo ".vscode/" > .gitignore
echo "*.exe" >> .gitignore
echo "*.out" >> .gitignore
echo "*.obj" >> .gitignore
echo "abc.c" >> .gitignore
echo "dfd.c" >> .gitignore
echo "dhajfids.c" >> .gitignore
echo "fhjsfjs.c" >> .gitignore